.background2{
	background-color: #efb2c0;/*rgb(230, 181, 192)*/
	/*height: 60vh;*/
	width: 100vw;
	background-position: relative;
	padding-top: 1px;	
}


.titleText{
	margin-top: 10vh;
	text-align: center;
	color: rgb(248, 243, 243);
	font-size: 5vh;
	font-weight: bold;
	margin-right: 0.8vh;
	margin-left: 0.8vh;
}


.bodyText{
	margin-top: 7vh;
	text-align: center;
	margin-right: 20vh;
	margin-left: 20vh;
	font-size: 2.2vh;
	line-height: 4vh;
	color: white;
	padding-bottom: 7vh;
}

@media only screen and (max-width: 800px) {
   .bodyText { 
	    margin-right: 10vh;
		margin-left: 10vh;
   }
}
@media only screen and (max-width: 550px) {
   .bodyText { 
      	margin-right: 3vh;
		margin-left: 3vh; 
	}
}
