


.programTitle{
	text-align: center;
	margin-top: 7vh;
	font-size: 5vh;
	font-weight: bold;
}

.companyButton{
	border: 3px solid purple;
	margin: 0 auto;
	margin-left: 40vh;
	margin-top: 2vh;
	width: max-content;
	font-size: 2vh;
	font-weight: bold;
	cursor: pointer;
	transition: 1s;
	padding: 0.5em 1em;
	color: purple;
}


.companyButton:hover{
	background-color: purple;
	color: white;
}


@media(max-width: 1200px) {
	.companyButton{
		margin: 0 auto !important;
	}

	.programFlex{
		flex-direction: column;
	}
	.margins1{
		padding-right: 3vh !important;
		padding-left: 3vh !important;
	}

	.image1Container{
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.margins2{
		padding-right: 3vh !important;
		padding-left: 3vh !important;

	}


	.image2Container{
		margin-left: auto !important;
		margin-right: auto !important;
		margin-bottom: 1vw !important;
		order: 2;
		padding-bottom: 10vh;
	}

	.programText2{
		
		order: 1;
	}

}

.programFlex{
	justify-content: center;
	display: flex;
	line-height: 3ch;
}

.programText1{
	margin-top: 3vh;
}

.margins1{
	padding-right: 40px;
	padding-left: 200px;
}

.programImg1{
	margin-top: 3vh;
	height: 36vh;
	width: 50vh;
	box-shadow: 0px 34px 30px -8px rgb(179, 179, 179);
	animation: programImage1 5s ease-in-out infinite;
}

@keyframes programImage1 {

    0% {
        transform: translatex(0px) translatey(0px);
        box-shadow: 0px 34px 25px -8px rgb(179, 179, 179);
    }
    50% {
        transform: translatex(6px) translatey(-6px);
        box-shadow: 0px 34px 40px -8px rgb(179, 179, 179);
	}
	100%{
		transform: translatex(0px) translatey(0px);
		box-shadow: 0px 34px 25px -8px rgb(179, 179, 179);
	}
}

.image1Container{
	margin-right: 300px
}

.programText2{
	margin-top: 3vh;
	order: 1;
}



.margins2{
	padding-right: 200px;
	padding-left: 40px;
}


.programImg2{
	margin-top: 3vh;
	height: 36vh;
	width: 50vh;
	box-shadow: 0px 34px 60px -8px rgb(179, 179, 179);
	animation: programImage2 5.2s ease-in-out infinite;
}


@keyframes programImage2 {

    0% {
        transform: translatex(0px) translatey(0px);
        box-shadow: 0px 34px 25px -8px rgb(179, 179, 179);
    }
    50% {
        transform: translatex(-6px) translatey(-6px);
        box-shadow: 0px 34px 40px -8px rgb(179, 179, 179);
	}
	100%{
		transform: translatex(0px) translatey(0px);
		box-shadow: 0px 34px 25px -8px rgb(179, 179, 179);
	}
}


.image2Container{
	margin-left: 250px;
	margin-bottom: 7vh;
}

