.skyline{
	background-image: url(../../images/skyline.png);
	background-size: 100%;                
    background-repeat: no-repeat;
    background-position: bottom;
	height: 13vh;
	background-color: rgb(230, 181, 192);
}

.contact-box{
	background-color: rgb(28,73,118);
	padding-bottom: 1px;
	width: 100vw;
	background-position: relative;
	padding-top: 1px;	
}

.contact{
	margin-left: 37%;
	margin-top: 0.65%;
	color: white;
	font-weight: bold;
	font-size: 0.9em;
}

.contact li{
	list-style-type: none;
	display: inline;
	margin-right: 2vh;
}

.icon a{
	font-size: 3vh;
	color: white;
	transition: 0.5s;
}

.icon a:hover{
	color: black;
}

/*.love{ 				initially used for the BE one-liner
	color: white;
	font-weight: bold;
	text-align: center;
	margin-bottom: 5vh;
}*/


.heart {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png");
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  height: 25px;
  width: 25px;
  top: 6px;
}

.be a{
	color: white;
	transition: 0.5s;
	cursor: pointer;
}

.be a:hover{
	color: black;
}

@media only screen and (max-width: 800px) {
   .contact { 
      /*color: green; */
      margin-left: 30%;
      font-size: 0.8em;
   }
}
@media only screen and (max-width: 550px) {
   .contact { 
      /*color: red;*/
      margin-left: 10%;
      font-size: 1em;
   }
}